@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}

.btn-e{
  height: 50%;
  color: white;
  background-color: grey;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
}